:root {
  --color-dark-blue: rgb(16, 16, 25);
  --color-light-blue: rgb(123, 178, 200);
  --color-white: #f6f1d1;
}

.pt-2 {
  padding-top: 1rem;
}

body {
  width: 100vw;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar a:hover {
  color: var(--color-light-blue);
  transition: color 200ms ease;
}

.navbar {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-dark-blue);
  z-index: 1;
}

.navbar ul {
  list-style: none;
  display: flex;
  padding-left: 0.5rem;
}

.navbar li {
  padding-inline: 1rem;
  padding-left: 0;
}

.navbar a {
  text-decoration: none;
  color: var(--color-white);
  font-size: 1.5rem;
}

.projects {
  position: relative;
  padding-right: 2em;
}

.projects:hover .project-nav {
  display: grid;
}

.project-nav {
  position: absolute;
  display: none;
  top: 100%;
  right: 0;
  background-color: var(--color-dark-blue);
  padding: 1rem;
  padding-right: 2em;
  border-bottom-left-radius: 0.5rem;
}

.header {
  margin-block: 0.5rem;
}

.project-nav span {
  display: grid;
  text-align: left;
  margin-left: 1rem;
}

.project-nav span a {
  padding-block: 0.25rem;
}

.home {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-light-blue);
}

.home img {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slide-up {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
}

.home h1 {
  font-size: 3rem;
  padding: 1rem;
  text-align: center;
  color: var(--color-light-blue);
  opacity: 0;
  animation: fade-in 3s ease 2s forwards, slide-down 3s ease 2s forwards;
  transition: color 1s ease;
}

.home h1:hover:not(span) {
  color: var(--color-dark-blue);
}
.home h1 span {
  color: var(--color-dark-blue);
  transition: color 1s ease;
}

.home h1 span:hover {
  color: var(--color-light-blue);
}

button {
  border: 1px solid var(--color-dark-blue);
  background-color: var(--color-light-blue);
  color: var(--color-dark-blue);
  padding: 0.4rem;
  border-radius: 0.25rem;
  display: grid;
  place-items: center;
  cursor: pointer;
  opacity: 0;
  animation: fade-in 5s ease 2s forwards, slide-up 5s ease 2s forwards;
}

button:hover {
  border-color: var(--color-light-blue);
  background-color: var(--color-dark-blue);
  color: var(--color-light-blue);
  transition: all 1s ease;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.about {
  color: var(--color-dark-blue);
  padding-inline: 2rem;
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-size: 1.25em;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.about-content span {
  animation: fade-in 3s ease forwards;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  gap: 0.25em;
  font-size: 4em;
}

.project-div {
  color: var(--color-dark-blue);
  display: grid;
  place-items: center;
}

.project-div .image {
  max-width: 50vw;
  border: 2px solid var(--color-light-blue);
  border-radius: 2em;
  overflow: hidden;
  z-index: 1000;
}

.image:hover {
  border-color: var(--color-dark-blue);
  transition: border-color 300ms ease;
}

.image-con {
  position: relative;
}

.image-con::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 2em;

  display: none;
}
.project-card:hover .image-con::after {
  display: block;
  background-color: rgba(123, 178, 200, 0.1);
  transition: background-color 300ms ease;
}

.project-section {
  position: sticky;
  margin-top: 3em;
  width: 100%;
  justify-content: center;
  z-index: 1001;
}

.project-list {
  list-style: none;
}

.col-light {
  color: var(--color-light-blue);
}

.col-dark {
  color: var(--color-dark-blue);
}

.project-page {
  width: 100vw;
}

.project-card {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fade-in 2s ease forwards;
}

.project-card a {
  max-width: fit-content;
  display: grid;
  place-items: center;
}

.fullstack-logo {
  max-width: 100%;
  margin-top: 1em;
}

.project-section .active {
  color: var(--color-light-blue);
}

.hidden {
  display: none;
}

.technologies {
  animation: slide-up 2s ease forwards;
}

.left {
  position: fixed;
  left: 1em;
  top: 50%;
  animation: none;
  opacity: 1;
  transform: translateY(0);
}
.right {
  position: fixed;
  right: 1em;
  top: 50%;
  animation: none;
  opacity: 1;
  transform: translateY(0);
}

.loadingContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 5rem;
}

.loading {
  position: relative;
  width: fit-content;
  line-height: 1rem;
  margin-inline: 4rem;
}

.loading::after {
  position: absolute;
  right: -3rem;
  top: -0.75rem;
  content: "";
  margin: auto;
  border: 5px solid var(--color-light-blue);
  border-radius: 100%;
  border-top: 5px solid var(--color-dark-blue);
  width: 1.5rem;
  height: 1.5rem;
  animation: spinner 2s ease-in-out infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 650px) {
  .about-content {
    margin-top: 6rem;
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}
